[*.{fs,fsx}]
max_line_length=150

fsharp_max_value_binding_width=80
fsharp_max_infix_operator_expression=80
fsharp_max_array_or_list_width=40
fsharp_max_function_binding_width=20

fsharp_multiline_block_brackets_on_same_column=true